.beerSearch {
  width: 50%;
}

.beerList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.beerCard {
  max-width: calc(100% / 3 - 16px);
}

.beerCard img {
  max-width: 50%;
  max-height: 100%;
}