.beerSearch {
  width: 50%;
}

.beerList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.beerCard {
  max-width: calc(100% / 3 - 16px);
}

.beerCard img {
  max-width: 50%;
  max-height: 100%;
}

.beerCard__favourite {
  margin-left: auto;
}

.beerCard .level {
  margin-bottom: 8px;
}